.cart {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
  height: 100vh;
  padding: 15px;
  position: sticky;
  top: 0;
  border-radius: 10px;
}
.summary {
  background-color: rgba(231, 221, 242, 1);
  border-radius: 10px;
  padding: 12px;
  line-height: 26px;
  color: rgba(52, 40, 105, 1);
}
.add-products {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}
/* .empty-cart {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-image: url("https://www.getillustrations.com/packs/matilda-startup-illustrations/scenes/_1x/shopping,%20e-commerce%20_%20empty,%20shopping%20cart,%20items,%20products,%20zero,%20none_md.png");
  background-size: contain;
  background-repeat: no-repeat;
} */
.cart-item {
  background-color: #e9e4fe;
  color: rgba(52, 40, 105, 1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}
.cart-img {
  width: 50px;
  border-radius: 50px;
  border: 2px solid rgba(52, 40, 105, 1);
}
.dlt-icon {
  width: 20px;
  position: absolute;
  /* top: 0; */
  right: 0;
  margin-right: 8px;
}
