.nav-bar-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* position: sticky;
  top: 0; */
  text-decoration: none;
}
.nav-bar-2 {
  display: none;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  text-decoration: none;
  color: #31287f;
  font-size: 18px;
  font-weight: 600;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search-icon {
  position: absolute;
  top: 1;
  right: 0;
}
.input {
  border: none;
  box-shadow: 0px 0px 10px #e9e4fe;
  border-radius: 10px;
  padding: 10px 14px;
  color: #473889;
  font-size: 16px;
}
.search-icon {
  cursor: pointer;
}

.active-link {
  padding: 10px;
  /* background-color: rgb(255, 255, 255); */
  border-bottom: 2px solid rgba(52, 40, 105, 1);
  border-radius: 10%;
  color: #473889;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.log-in-out-btn {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

/* ------------------------------------------------------------- */

@media screen and (max-width: 688px) {
  .nav-bar-1 {
    display: none;
  }
  .nav-bar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    position: relative;
  }
  .show {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgb(255, 255, 255);
    padding: 14px 30px;
    border-radius: 10px;
    z-index: 1;
  }
  .hidden {
    display: none;
  }
  .active-link {
    padding: 0;
    border-bottom: none;
    border-radius: 10%;
    color: #f71871;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
  }
  .nav-2-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .log-in-out-btn {
    padding: 3px 8px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
  }
}
