.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cart {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
  height: 100vh;
  padding: 15px;
}
.summary {
  background-color: coral;
  border-radius: 10px;
  padding: 10px;
}
.add-products {
  background-color: blueviolet;
  border-radius: 10px;
  padding: 10px;
}
