.cart-review {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  align-items: center;
}
@media screen and (max-width: 688px) {
  .cart-review {
    grid-template-columns: none;
  }
  .product-details {
    order: 1;
  }
  .cart-details {
    order: 2;
  }
}
